extends ../layout

block content
  h1= title
  table.branches
    thead.branches__head
      tr
        th
        th Имя ветви
        th Последний коммит
        th Сообщение последнего коммита
        th Файловая система
        th Коммиты
    if (branches && branches.length > 0)
      tbody
        each branch in branches
          tr
            td.branches__pointer
              if (branch.current)
                | ->
            td= branch.name
            td= branch.hash
            td= branch.message
            td
              a(href=`/dir/${branch.hash}`) Ссылка
            td
              a(href=`/commits/${branch.hash}`) Ссылка
  pre.graph= graph
