extends ../layout

block content
  h1= title
  table.branches
    thead.branches__head
      tr
        th
        th Branch Name
        th Last commit
        th Last commit message
        th File System
        th Commits
    if (branches && branches.length > 0)
      tbody
        each branch in branches
          tr
            td.branches__pointer
              if (branch.current)
                | ->
            td= branch.name
            td= branch.hash
            td= branch.message
            td
              a(href=`/dir/${branch.hash}`) Link
            td
              a(href=`/commits/${branch.hash}`) Link
  pre.graph= graph
