extends ../layout

block content
  h1= title
  a(href="/").navigation-link < вернуться к списку веток
  span.navigation-link.navigation-link__back < назад
  if (commits && commits.length > 0)
    table.commits
      thead.commits__head
        tr
          th #
          th Хеш
          th Сообщение
          th Автор
          th Дата
          th Файловая система
      if (commits && commits.length > 0)
        tbody
          each commit, i in commits
            tr
              td= commits.length - i
              td.commits__hash= commit.hash
              td= commit.message
              td.commits__author= commit.author
              td.commits__date= commit.date
              td
                a(href=`/dir/${commit.hash}`) Ссылка
